@model ASPNetArvestus.ViewModels.BookIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Filter, new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    </div>
}
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Publisher.PublisherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Title)
                </th>
                <th>
                    Number of Authors
                </th>
                <th>
                    Authors
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.BookAuthors.Count
                    </td>
                    <td>
                    @foreach (var authorInBook in item.BookAuthors.Where(x => x.BookId == item.BookId))
                    {
                        <p>@authorInBook.Author.FirstLastName </p>
                    }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                    </td>
                </tr>
            }

        </table>
